body {
    background-color: rgb(31, 31, 31);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table{
    background-color: rgb(71, 71, 71);
}
td, th{
    padding: 10px;
}
a {
    color:rgb(185, 105, 255);
}