.calculadora{
    width: 300px;
    margin: 50px auto;
    border: 1px solid red;
    border-radius: 5px;
    background-color: aqua;
}

input[type="button"]{
    width: 60px;
    height: 60px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.screen{
    width: 250px;
    height: 25px;
    font-size: 20px;
}

