body{
    color: white;
    background-color: rgb(17, 10, 69);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 1em;
}
h1, ul, li{
    color: white;
}
p{
    color: white;
    font: italic;
    font-size: 1em;
}